<!--左側-->
<%= render 'left', book: @book %>


<!--右側-->

<h2>Books</h2>

<table>

  <tr>
    <th></th>
    <th>Title</th>
    <th>Opinion</th>
  </tr>

  <% @books.each do |book| %>
    <tr>
      <td></td>
      <td><%= book.title %></td>
      <td><%= book.body %></td>
    </tr>
  <% end %>

</table>
