<h2>Books</h2>

<table>

  <tr>
    <th></th>
    <th>Title</th>
    <th>Opinion</th>
  </tr>

  <% @book.each do |book| %>
    <tr>
      <td></td>
      <td><%= book.title %></td>
      <td><%= book.body %></td>
    </tr>

</table>
